<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    
    <h1>Flask Practise Home Page.</h1>

    <form>
        <button type="submit" formaction="/signUp">Get Sign Up Page</button>
        <button type="submit" formaction="/login">Get Login Page</button>
    </form>

</body>
</html>